@import "./General";


.action-container {
     width: 100%;
     padding: 3rem;
     background-color: $SecondaryColor;
     display: flex;
     gap: 5rem;
     align-items: center;
     justify-content: center;

     h2 {
          color: #ffffff;
          font-weight: 500;
     }

}
