@import "./Variable.scss";


*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
a {
     text-decoration: none;
}

/* General Styles */
body {
     margin: 0;
     font-family: $FontFamily;
     color: $PrimaryColor;
     line-height: 1.6;
     font-size: .8rem;
}

.landing-page-container {
     width: 100%;
     overflow: hidden;
     // background-image: radial-gradient(#29406f 0.5px, #ffffff 0.5px);
     // background-size: 10px 10px;
}


.text-highlight {
     background: -webkit-linear-gradient(45deg, #FF9800, #FF5722);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}


/* UI Style */

// Primary button
a.primary-button {
     text-decoration: none;
     color: #ffffff;
     background-image: linear-gradient(45deg, #f57c00, #FF5722);
     // border: .1rem solid $PrimaryColor;
     // background-color: $SecondaryColor;
     font-size: .9rem;
     font-weight: 600;
     border-radius: .4rem;
     padding: 0.8rem 1.8rem;
     width: fit-content;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: .5rem;
     
     svg {
          font-size: 1.2rem;
     }
}
// a.primary-button.white {
//      border: .1rem solid #ffffff;
// }
a.primary-button.small {
     padding: 0.5rem 1rem;
     font-size: .8rem;
}
a.primary-button:hover {
     color: #ffffff;
     background-image: linear-gradient(45deg, #f57c00, #FF5722);
}

a.outline-button {
     text-decoration: none;
     color: $SecondaryColor;
     background-color: transparent;
     border: .1rem solid $SecondaryColor;
     font-size: .8rem;
     font-weight: 600;
     border-radius: .4rem;
     padding: 0.8rem 1.8rem;
     width: fit-content;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: .5rem;

     svg {
          font-size: 1.2rem;
     }
}
a.outline-button.white {
     color: #ffffff;
     border: .1rem solid #ffffff;
}
a.outline-button.small {
     padding: 0.5rem 1rem;
     font-size: .8rem;
}
a.outline-button:hover {
     color: #ffffff;
     background-color: #f57c00;
     border: .1rem solid #f57c00;
}

