@import "./Variable.scss";


*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
a {
     text-decoration: none;
}

/* General Styles */
body {
     margin: 0;
     font-family: $FontFamily;
     color: $PrimaryColor;
     line-height: 1.6;
     font-size: .8rem;
}

.landing-page-container {
     width: 100%;
     overflow: hidden;
     background-image: radial-gradient(#29406f 0.5px, #ffffff 0.5px);
     background-size: 10px 10px;
}




/* UI Style */

// Primary button
a.primary-button {
     text-decoration: none;
     color: #ffffff;
     // background-color: $SecondaryColor;
     background-image: linear-gradient(35deg, $SecondaryColor, $SecondaryColor, rgba(251, 168, 31, 1));
     border: .1rem solid $PrimaryColor;
     font-size: .8rem;
     font-weight: 500;
     border-radius: 10rem;
     padding: 0.4rem 2rem;
     width: fit-content;
     cursor: pointer;
}
a.primary-button.white {
     border: .1rem solid #ffffff;
}
a.primary-button.small {
     padding: 0.3rem 1rem;
}
a.primary-button:hover {
     color: $SecondaryColor;
     background-image: unset;
     border: .1rem solid $SecondaryColor;
}

a.outline-button {
     text-decoration: none;
     color: $SecondaryColor;
     background-color: transparent;
     border: .1rem solid $SecondaryColor;
     font-size: .8rem;
     font-weight: 600;
     border-radius: 10rem;
     padding: 0.4rem 2rem;
     width: fit-content;
     cursor: pointer;
}
a.outline-button.white {
     color: #ffffff;
     border: .1rem solid #ffffff;
}
a.outline-button:hover {
     color: #ffffff;
     background-color: $SecondaryColor;
     border: .1rem solid #ffffff;
}

