@import "./Variable.scss";

/* Hero */
.hero-container {
     position: relative;
     padding-bottom: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     background: $BackgroundDarkColor;
     background-image: url("../assets/ouispad_lp_bg.avif");
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     
     .hero-wrapper {
          width: 65rem;
          display: flex;
          position: relative;
          
          @media (max-width: 768px) {
               flex-direction: column;
               width: 100%;
               padding: 0px 2rem;
          }
     }

     .hero-content-wrapper {
          display: flex;
          flex-direction: column;
          padding-bottom: 5rem;
          padding-top: 3rem;
          position: relative;
          z-index: 1;
          width: 50%;

          @media (max-width: 768px) {
               width: 100%;
          }
          
          .hero-content {
               display: flex;
               flex-direction: column;
               gap: 1rem;
               
               @media (max-width: 768px) {
                    text-align: center;
               }

               h1 {
                    color: $WhiteColor;
                    font-family: $FontBold;
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 1.4;
                    text-shadow: 0px 2px 5px #00000012;

                    @media (max-width: 768px) {
                         width: 100%;
                         font-size: 2rem;
                    }
               }

               p {
                    color: $WhiteColor;
                    font-size: .9rem;
                    font-weight: 500;
                    // letter-spacing: 1px;
                    margin-bottom: 1rem;
                    line-height: 2;
                    // opacity: .6;

                    @media (max-width: 768px) {
                         width: 100%;
                         font-size: 0.75rem;
                         letter-spacing: 0.5px;
                    }

                    br {
                         
                         @media (max-width: 768px) {
                              display: none;
                         }

                    }
               }

               .hero-call-to-action {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    
                    @media (max-width: 768px) {
                         flex-direction: column;
                    }
               }

               .hero-icons {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-top: 1rem;
                    
                    @media (max-width: 768px) {
                         flex-direction: column;
                    }

                    .trust-icons {
                         width: 16rem;
                    }
                    .meta-icons {
                         width: 10rem;
                    }

               }


               .reviews-badge {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .reviews-profiles {
                         display: flex;
                         align-items: center;
                         justify-content: center;

                         .profile {
                              width: 2rem;
                              height: 2rem;
                              border-radius: 50%;
                              overflow: hidden;
                              position: relative;
                              border: 2px solid #ff7c32;

                              img {
                                   width: 100%;
                                   object-fit: cover;
                                   height: 100%;
                                   vertical-align: middle;
                                   display: inline-block;
                              }
                         }
                         .profile.one {
                              left: 0rem;
                         }
                         .profile.two {
                              left: -.8rem;
                         }
                         .profile.three {
                              left: -1.6rem;
                         }
                         .profile.four {
                              left: -2.4rem;
                         }
                    }

                    .reviews-content {
                         position: relative;
                         left: -1.8rem;
                         bottom: .2rem;

                         .reviews-stars {
                              position: relative;
                              bottom: -0.4rem;
                              display: flex;
                              gap: .2rem;

                              .star {
                                   font-size: .8rem;
                              }
                         }

                         .reviews-text {
                              color: $WhiteColor;
                              font-size: .8rem;
                              font-weight: 600;
                         }
                    }

               }

          }
     }

     
     .hero-image-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 3rem;
          width: 50%;
          position: relative;
          right: -2rem;
          perspective: 160rem;

          @media (max-width: 768px) {
               width: 100%;
               right: 0rem;
          }
          
          .hero-image {
               width: 32rem;
               border-radius: 1rem;
               position: relative;
               z-index: 9;
               transform: rotateX(31deg) rotateY(342deg) rotateZ(12deg);
               
               @media (max-width: 768px) {
                    width: 100%;
                    border-radius: 0.5rem;
               }
          }
          
          .blob-bg {
               position: absolute;
               right: -4rem;
               top: -1rem;
               width: 36rem;
               transform: rotate(213deg);
               opacity: .4;

               @media (max-width: 768px) {
                    right: -3rem;
                    top: -4rem;
                    width: 27rem;
               }
          }

          .hero-logos {
               display: flex;
               gap: 2rem;
               flex-wrap: wrap;
               justify-content: center;

               @media (max-width: 768px) {
                    gap: 1rem;
               }

               img {
                    width: 8rem;

                    @media (max-width: 768px) {
                         width: 6rem;
                    }
               }

               .instagram-icon {
                    position: relative;
                    top: .2rem;
               }
          }
     }


     .hero-bg {
          position: absolute;
          left: 0px;
          right: 0px;
          width: 100%;
     }
}
