@import "./Variable.scss";

/* Container */
.steps-container {
     color: white;
     padding-top: 3rem;
     padding-bottom: 9rem;
     display: flex;
     align-items: center;
     justify-content: center;
     background: $BackgroundDarkColor;
     background-image: url("../assets/ouispad_lp_bg.avif");
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;

     .steps-wrapper {
          display: flex;
          align-items: center;
          
          @media (max-width: 768px) {
               width: 100%;
               flex-direction: column;
               gap: 2rem;
               padding: 0px 2rem;
          }
     }


}

/* Sidebar */
.sidebar {
     width: 10%;
     display: flex;
     flex-direction: column;
     align-items: center;
     // gap: 2rem;

     @media (max-width: 768px) {
          flex-direction: unset;
          width: unset;
     }
}

.step-button {
     width: 6rem;
     height: 6rem;
     border: 1px solid #ff56224a;
     border-radius: 1rem;
     font-size: 2rem;
     font-weight: bold;
     cursor: pointer;
     background: #ff562244;
     color: white;
     transition: background 0.3s ease-in-out;
}

.step-button.active {
     background-image: linear-gradient(43deg, #FF5722, #FF9800);
     color: white;
     box-shadow: 0 0 40px #ff562280;
}

.step-button-linker {
     background-color: #ff56224a;
     justify-content: center;
     align-items: center;
     width: 1px;
     height: 24px;
     text-decoration: none;
     display: flex;
     
     @media (max-width: 768px) {
          width: 24px;
          height: 1px;
     }
}

/* Content Area */
.content {
     margin-left: 1rem;
     padding: 2rem;
     background: #08213dd1;
     border-radius: 1rem;
     width: 52rem;
     height: 30rem;
     overflow: hidden;
     
     @media (max-width: 768px) {
          width: 100%;
          height: auto;
          margin: 0px;
     }
}

.step-content {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     animation: fadeIn 0.4s ease-in-out;

     p {
          line-height: 1.8;
     }

     img {
          border-radius: 1rem;
          margin: 0px 3rem;
          
          @media (max-width: 768px) {
               margin: 0px 1rem;
          }
     }
}

@keyframes fadeIn {
     from {
          opacity: 0;
          transform: translateX(10px);
     }
     to {
          opacity: 1;
          transform: translateX(0);
     }
}
   