@import "./Variable.scss";


.vision-container {
     height: 20rem;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 3rem;
     background: radial-gradient(at top, #ffa72e1f, #ffffff00, #ffffff00);
     
     .vision-wrapper {
          width: 40rem;
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          text-align: center;

          
          h2 {
               color: $SecondaryColor;
               font-family: $FontBold;
               font-size: 2rem;
               font-weight: 500;
          }

          p {
               // color: #ffffff;
               font-size: .9rem;
               font-weight: 500;
               letter-spacing: 1px;
               line-height: 2;
          }
     }


}
